### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
# Node dependencies
node_modules/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml
# Generated frontend assets
dist/output.css
dist/**/*.css

